<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6"
             ng-repeat="item in vm.homeData track by $index">
            <div class="thumbnail back-hover">
                <img src="{{item.poster}}" alt="{{title}}" ng-click="vm.goDetail(item._id)">
                <div class="caption text-center">
                    <h5 class="fiveHeight">{{item.title}}</h5>
                    <small class="text-left fontHeight">主演：{{item.starring?item.starring:'暂无录入'}}</small>
                    <!--<p>-->
                    <!--<button ng-click="vm.goDetail(item._id)" class="btn btn-primary">观看</button>-->
                    <!--</p>-->
                </div>
            </div>
        </div>
    </div>
</div>